BROWSER:
  NAME: headlesschrome
  # List of Chrome options - https://peter.sh/experiments/chromium-command-line-switches/
  # --disable-dev-shm-usage  and --no-sandbox are required for running chromedriver in a container
  OPTIONS: add_argument("--ignore-certificate-errors");add_argument("window-size=1920,1024");add_argument("--disable-dev-shm-usage");add_argument("--no-sandbox")
OCP_CONSOLE_URL: "http://console-openshift-console.apps.my-cluster.test.redhat.com/"
OCP_API_URL: "http://api.my-cluster.test.redhat.com/"
OCP_ADMIN_USER:
  AUTH_TYPE: "kube:admin"
  USERNAME: kubeadmin
  PASSWORD: abc123XYZ!
OCP_LDAP_USER:
  AUTH_TYPE: "ldap-provider-qe"
  USERNAME: ldap_user
  PASSWORD: abc123XYZ!
OCP_LDAP_PROJECT_ADM:
  AUTH_TYPE: "ldap-provider-qe"
  USERNAME: ldap_user
  PASSWORD: abc123XYZ!
OCP_LDAP_SERVICE_ADM:
  AUTH_TYPE: "ldap-provider-qe"
  USERNAME: ldap_user
  PASSWORD: abc123XYZ!
OCP_LDAP_DEV:
  AUTH_TYPE: "ldap-provider-qe"
  USERNAME: ldap_user
  PASSWORD: abc123XYZ!
OCP_DBAAS_USER:
  AUTH_TYPE: "ldap-provider-qe"
  USERNAME: ldap_user
  PASSWORD: abc123XYZ!
MONGO:
  orgId: xxxx
  publicApiKey: xxxx
  privateApiKey: xxxx
CRUNCHY:
  publicApiKey: xxxx
  privateApiSecret: xxxx
COCKROACH:
  apiSecretKey: xxxx
RDS:
  AWS_ACCESS_KEY_ID: xxxx
  AWS_SECRET_ACCESS_KEY: xxxx
  AWS_REGION: xxxx
DBAASPOLICY:
  ENABLED: FALSE
  PERSONA: cluster-adm
  NAMESPACE: openshift-dbaas-operator
