BROWSER:
  NAME: headlesschrome
  # List of Chrome options - https://peter.sh/experiments/chromium-command-line-switches/
  # --disable-dev-shm-usage  and --no-sandbox are required for running chromedriver in a container
  OPTIONS: add_argument("--ignore-certificate-errors");add_argument("window-size=1920,1024");add_argument("--disable-dev-shm-usage");add_argument("--no-sandbox")
OCP_CONSOLE_URL: "http://console-openshift-console.apps.my-cluster.test.redhat.com/"
OCP_API_URL: "http://api.my-cluster.test.redhat.com/"
OCP_ADMIN_USER:
  AUTH_TYPE: "kube:admin"
  USERNAME: kubeadmin
  PASSWORD: abc123XYZ!
MONGO:
  ORG_ID: xxxx
  PUB_KEY: xxxx
  PRI_KEY: xxxx
CRUNCHY:
  PUB_KEY: xxxx
  PRI_KEY: xxxx
COCKROACH:
  API_KEY: xxxx
